<p id="notice"><%= notice %></p>

<div style="background-color: #<%= @user.profile_bg %>; color: #<%= @user.profile_fg %>; padding: 25px">
    <%= image_tag('/' + @user.profile_image, width: 300) if @user.profile_image.present? %>
    
    <h1><%= "<u>#{@user.username}</u>".html_safe %></h1>
    
    ID: <%= @user.id %><br>
    Email: <%= @user.email %><br>
</div>

<h2><%= @user.username %>'s Shouts</h2>

<%= render partial: 'shouts/shouts' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
